
/*********** Commun ************/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.hebergements-and-populaires,
.hebergements-and-populaires section,
.hebergements-cards,
.hebergements-cards .card,
.hebergements-cards .card-content,
.populaires-title,
.populaires-cards,
.populaires-cards .card,
.populaires-cards .card-content,
.card-txt
{
  display: flex;
}
.hebergements-and-populaires section,
.hebergements-cards .card,
.hebergements-cards .card-content,
.populaires-cards,
.populaires-cards .card-content,
.card-txt
{
  flex-direction: column;
}
.hebergements-and-populaires section,
.hebergements-cards,
.populaires-cards
{
  gap: 30px;
}
.hebergements-cards a,
.populaires-cards,
.populaires-cards .card
{
  height: 100%;
}
.hebergements-cards a,
.hebergements-cards img
{
  width: 100%;
}
.populaires-title,
.populaires-cards .card-content
{
  justify-content: space-between;
}
.hebergements-and-populaires, .card {
  overflow: hidden;
}

/********* Heberg&pop **********/

.hebergements-and-populaires {
  gap: 40px;
}

.hebergements-and-populaires section {
  padding: 30px;
  border-radius: 15px;
  background-color: var(--main-bg-color);
}

/****** Hebergements ***********/

.hebergements {
  width: 871px;
}
.hebergements-cards img {
  height: 124px;
  border-radius: 20px 20px 0px 0px;
}
.hebergements-cards .card-content {
  gap: 8px;
  padding: 15px;
}
.hebergements__a {
  font-size: 18px;
  font-weight: bold;
}

/****** Populaires ***********/

.populaires {
  width: 429px;
}
.populaires-title {
  align-items: center;
}
.populaires-cards a {
  height: 33.3%;
  max-height: 30%;
}
.populaires-cards img {
  width: 40%;
  min-width: 40%;
  border-radius: 20px 0px 0px 20px;
}
.populaires-cards .card-content {
  padding: 10px 5px 5px 15px;
}
.card-txt {
  gap: 5px;
}


@media (max-width: 768px) { 

.hebergements-and-populaires section,
.hebergements-cards,
.populaires-cards
{
  gap: 15px;
}

.hebergements-and-populaires section {
  padding-left: 20px;
  padding-right: 20px;
}

}