.recherches-and-filtres {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.recherches__title {
  /* width: 924px;
  height: 53px; */
  margin-bottom: 8px;
}
.recherches-and-filtres__h1 {
  margin-bottom: 5px;
}

.recherches-and-filtres__p {
  margin-top: 8px;
  margin-bottom: 35px;
}

.recherches__buttons{
  margin-top: 8px;
  display: flex;
  flex-direction: row;
  margin-bottom: 35px;
}
.recherches__buttons .mobile-icon {
  display: none;
}

.recherches__iconeLocalisation {
  background-color: #f2f2f2;
  min-width: 50px;
  min-height: 49px;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: black !important;
  font-size: 18px;
}


.recherches__form {
  display: flex;
  flex-direction: row;
}

.recherches__input {
  display: flex; /* Permet d'aligner le point d'information au centre */
  justify-content: center; /* Centre horizontalement */
  align-items: center;
  text-align: center; /* Centrer le placeholder */
  border: 1px solid #f2f2f2; /* Définir une bordure grise */
  padding-left: 24px;
  padding-right: 24px;
  font-weight: bold; 
  color : black;
  font-size: 18px; 
}

.recherches__input::placeholder {
  font-weight: bold; 
  color : black;
  font-size: 18px; 
  width: 147px;
  height: 21px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center; 
}

.recherches__button[type="submit"] {
  /* position: relative; */ 
  background-color: var(--main-color);
  font-weight: bold;
  color : white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  font-size: 18px;
  width: 130px;
  height: 49px;
  left: 16px;
  top: 14px;
  border:none;
}

.recherches__button[type="submit"]::after {
  background-color: var(--main-color);
  font-weight: 900;
  color : white;
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
  width: 130px;
  height: 49px;
  left: 16px;
  top: 14px;
  border:none;
  content: '\f002';
  font-family: 'Font Awesome 6 Free'; /* Assurez-vous d'utiliser le bon nom de famille de police */
  font-weight: 900; /* Font Awesome nécessite un poids de police de 900 pour les icônes solides */
  /* position: absolute; */
  transform: translateY(-50%);
  font-size: 20px; 
  display: none; /* Cache l'icône par défaut */
}

.filtres__h3Boutons {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 35px;
}

.filtres__h3 {
  margin: 0 10px; /* Ajoute un espacement horizontal entre les éléments */
}

.filtres__boutons {
  display: inline-block;
  justify-content: space-around;
}

.filtres__boutonsItem {
  margin: 0 10px;
  font-size: 17px;
  background-color: white;
  font-weight: bold;
  height: 50px;
  border: 1px solid #D9D9D9;
  border-radius: 25px;
  padding: 4px 20px;
}

.filtres__boutonsItem:hover,
.filtres__boutonsItem.active {
  background-color: #DEEBFF;
}

.filtres__iconeBouton {
  margin-right: 10px;
}

.filtres__info {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.info-circle {
  min-width: 30px; /* Largeur du cercle */
  min-height: 30px; 
  margin-right: 10px;
  border-radius: 50%; /* Assure que le cercle est arrondi */
  background-color: #fdfeff; /* Couleur de fond du cercle */
  border: 1px solid #D9D9D9;
  border-width: 2px;
  display: flex; /* Permet d'aligner le point d'information au centre */
  justify-content: center; /* Centre horizontalement */
  align-items: center; /* Centre verticalement */
}

.info-dot {
  font-size: 15px; /* Taille du point d'information */
  /*color: #fff; /* Couleur du point d'information */
}

.filtres__info {
  margin-bottom: 35px
 }

.filtres__p {
  font-size: 16px;
}

@media (max-width: 1024px) {
  .filtres__h3Boutons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 20px
    margin-bottom: 35px;
  }
  
}


@media (max-width: 768px) { 
  .recherches-and-filtres {
    padding: 0px 20px;
  }

  .recherches__buttons{
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    margin-bottom: 35px;
  }
  .recherches__form {
    width: 100%;
  }

  .recherches__input {
   flex-grow: 0;
   padding-left: 24px;
   padding-right: 0px;
  }
  
  .recherches__button[type="submit"] {
    /* position: relative; */
    background-color:  var(--main-color);
    font-weight: 900;
    color : white;
    align-items: center;
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--main-color);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    padding: 0;
    width: 49px; 
    height: 49px;
    left: 16px;
    top: 14px;
  } 
  .recherches__buttons .mobile-icon {
    display: block;
    width: 49px; 
    height: 49px;
    color: white;
    position: relative;
  }
  .recherches__buttons .mobile-icon:before {
    position: absolute;
        left: 14px;
        top: 12px;
  }
  .recherches__buttons .desktop {
    display: none;
  }

  .filtres__h3Boutons {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 35px;
    gap: 20px;
  }

  .filtres__boutons {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px 0px;
  }

  .filtres__h3 {
    margin: 0px; /* retrait du margin présent dans la version desktop */
  }

  .filtres__boutonsItem {
    flex: 0 0 calc(50% - 5px); /* Deux items par ligne en mode mobile */
    margin: 0px;
    font-size: 14px;
    background-color: white;
    font-weight: bold;
    height: 50px;
    border: 2px solid var(--Grey-Tint2, #D9D9D9); 
    border-radius: 25px;
    padding: 4px 19px;
  }

}